@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1144px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}
a{
    color: inherit;
    text-decoration: inherit;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
input, button{
    outline: none;
}
button{
    cursor: pointer;
}
li{
    list-style: none;
}
.header{
    background: #1391CEB2;
}
.header__top{
    display: flex;
    width: 100%;
    padding-top: 41px;
}
.header__logo{
    flex: 1;
}
.header__collection{
    display: flex;
    gap: 32px;
}
.header__item{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family);
    color: #25468A;
    margin-top: 18px;
}
.header__item:hover{
    color: white;
    transition: .7s;
}
.header__btn{
    background: #FFFFFF;
    border-radius: 24px;
    color: #14274C;
    padding: 9px 18px;
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
    border: none;
    margin: 8px 0;
    margin-left: 32px;
}
.header__btn:hover{
    background: #14274C;
    color: #FFFFFF;
    transition: .7s;
}
.header__wrapper{
    display: flex;
    margin-top: 93px;
}
.header__context,
.header__img{
    width: 50%;
}
.header__title{
    color: #25468A;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 92px;
    margin-bottom: 8px;
    line-height: 107px;
}
.header__subtitle{
    color: #3B4A6B;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 42px;
    line-height: 37px;
}
.header__desc{
    color: #3B4A6B;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 24px;
}
.header__context-btn{
    background: #F7BA0E;
    color: #3B4A6B;
    font-size: 18px;
    padding: 15px 52px;
    border-radius: 26px;
    border: none;
}
.header__context-btn:hover{
    opacity: 70%;
    transition: .6s;
}
.header__img{
    margin-bottom: 49px;
}
main{
    background: #E9F5FF;
}
.hero__wrapper{
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}
.hero__rect{
    background: #1391CE;
    margin-top: 130px;
    padding: 69px 34px;
    border-radius: 8px;
    width: calc(33.33% - 21.33px);
}
.hero__rect span{
    color: #FFFFFF;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.device__top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 63px;
}
.device__title{
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #1391CE;
    margin-bottom: 15px;
    max-width: 388px;
}
.device__rect{
    background: #F7BA0E;
    width: 160px;
    height: 8px;
}
.device__wrapper{
    display: flex;
    margin-top: 95px;
    gap: 112px;
}
.device__img,
.device__context{
    width: 50%;
}
.device__img{
    object-fit: cover;
}
.device__context-title{
    color: #25468A;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 400;
}
.device__context-subtitle{
    color: #1391CE;
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 32px;
}
.device__desc{
    color: #4F4F4F;
    font-size: 18px;
    line-height: 24px;
}
.modern__wrapper{
    display: flex;
    margin-top: 128px;
}
.modern__context-title{
    color: #25468A;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 400;
}
.modern__context-subtitle{
    color: #1391CE;
    font-size: 32px;
    line-height: 43px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.modern__context,
.modern__img{
    width: 50%;
    gap: 128px;
}
.modern___desc{
    color: #4F4F4F;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
}
.device__outputs{
    color: #1391CE;
    font-size: 22px;
    line-height: 30px;
}
.modern__item{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 9px;
}
.modern__item span{
    font-size: 16px;
    line-height: 22px;color: #4F4F4F;
    line-height: 22px;
    max-width: 441px;
}
.mind__wrapper{
    display: flex;
    margin-top: 128px;
}
.mind__img,
.mind__context{
    width: 50%;
    gap: 112px;
}
.mind__context-title{
    color: #25468A;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 400;
}
.mind__context-subtitle{
    color: #1391CE;
    font-size: 32px;
    line-height: 43px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.mind__item{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 9px;
}
.mind__item span{
    font-size: 16px;
    line-height: 22px;color: #4F4F4F;
    line-height: 22px;
    max-width: 441px;
}
.main{
    background: #E9F5FF;
}
.footer{
    background: #1391CE;
}
.footer__bar{
    display: flex;
    padding: 32px 0 58px 0;
}
.footer__collection{
    flex: 1;
}
.footer__link span{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.footer__link span:hover{
    transition: .7s;
    color: #FFFFFF;
}
.footer__link-bug span{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.footer__link-bug span:hover{
    transition: .7s;
    color: #FFFFFF;
}
@media (max-width: 990px){
    .modern__wrapper{
        flex-direction: column;
    }
    .modern__item svg{
        min-width: 20px;
        min-height: 20px;
    }
    .mind__wrapper{
        flex-direction: column;
    }
    .mind__item svg{
        min-width: 20px;
        min-height: 20px;
    }
    .header__img,
    .device__img,
    .modern__img,
    .mind__img{
        width: 100%;
    }
}
@media (max-width: 900px){
    .header__wrapper{
        flex-direction: column;
    }
    .header__title{
        font-size: 60px;
    }
    .header__img{
        margin-top: 15px;
        margin-left: 10px;
    }
    .header__img,
    .device__img,
    .modern__img,
    .mind__img{
        width: 100%;
    }
}
@media (max-width: 850px){
    .hero__rect{
        width: calc(50% - 16px);
    }
    .device__wrapper{
        flex-direction: column;
    }
    .device__context-title{
        margin: 0;
    }
    .device__context-subtitle{
        font-size: 25px;
        margin: 0;
    }
    .header__img,
    .device__img,
    .modern__img,
    .mind__img{
        width: 100%;
    }
}
@media (max-width: 720px){
    .header__collection
    .header__btn{
        gap: 5px;
    }
    .header__img,
    .device__img,
    .modern__img,
    .mind__img{
        width: 100%;
    }
}
@media (max-width: 660px){
    .header__collection{
        display: none;
    }
    .header__img,
    .device__img,
    .modern__img,
    .mind__img{
        width: 100%;
    }
}
@media (max-width: 530px){
    .header__context-btn{
        padding: 9px 15px;
    }
    .hero__rect{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .header__img,
    .device__img,
    .modern__img,
    .mind__img{
        width: 100%;
    }
}
@media (max-width: 495px){
    .hero__wrapper{
        flex-direction: column;
    }
    .hero__rect{
        width: 100%;
    }
    .header__img,
    .device__img,
    .modern__img,
    .mind__img{
        width: 100%;
    }
}
@media (max-width: 470px){
    .hero__wrapper{
        display: flex;
        flex-direction: column;
    }
    .header__img,
    .device__img,
    .modern__img,
    .mind__img{
        width: 100%;
    }
}